@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Other rules */
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #1f2023;
}

.ft-size {
  font-size: 0.9vw;
  margin: 0.5vw 0;
}
/*-------- ********** --------*/
/*********** HEADER ***********/
/*-------- ********** --------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 4.5rem;
  padding: 0 10vw;
  background-color: #1f2023;
  border-bottom: #fe4555 0.0625rem solid;
}
header div img {
  width: 9rem;
  /* height: 100rem; */
  object-fit: contain;
}
/* header .right-header .user-image{

} */
.right-header {
  display: flex;
  align-items: center;
}
.right-header div {
  margin-right: 1vw;
}
.log-out {
  color: white;
  background-color: #fe4555;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  display: none;
  position: absolute;
  top: 6rem;
  left: 1.75rem;
  font-size: 0.8rem;
}
.log-out:hover {
  opacity: 0.9;
  cursor: pointer;
  display: inherit !important;
}
.user {
  position: relative;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.05rem;
  font-size: 1rem;
}
.user:hover {
  cursor: pointer;
}
.header-username,
.header-collection,
.header-login {
  font-size: 1.2vw;
}
.user-block {
  width: 8.6rem;
  height: 6.9rem;
  position: absolute;
  top: 2.3rem;
  left: 0;
  /* z-index: 1000; */
}
.user:hover .log-out,
.user:hover .profile {
  display: inherit;
  z-index: 1200;
}
.right-header .user .user-image {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  margin: 0 0.5vw;
}
.profile {
  font-size: 1vw;
  width: 4rem;
  background-color: gray;
  padding: 0.17rem 0.86rem;
  border: none;
  border-radius: 0.86rem;
  color: white;
  display: none;
  position: absolute;
  top: 3.4rem;
  left: 1.3rem;
  font-size: 0.8rem;
}
.profile:hover {
  cursor: pointer;
  opacity: 0.9;
}
/*-------- ********** --------*/
/*--------- HOMEPAGE ---------*/
/*-------- ********** --------*/

.container {
  width: 100vw;
  background-color: #1f2023;
  padding: 4.8rem 0;
  /* margin: 0 auto; */
  font-size: 1rem;
}
.contain {
  width: 80vw;
  margin-left: 10vw;
}

/* search part */
.search {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search div {
  color: white;
}

.search-bar {
  width: 20vw;
  margin: 1vw 0;
  padding: 0.8vw 0.8vw;
  border-radius: 0.3vw;
  border: none;
}
.mobile-search-bar {
  width: 30vw;
  margin: 1vw 0;
  padding: 0.8vw 0.8vw;
  border-radius: 0.3vw;
  border: none;
}
.search-icon {
  position: absolute;
  top: 40%;
  right: 5%;
  color: black;
  /* width: 3vw; */
  font-size: 1vw;
}
.autoContainer {
  background-color: #1f2023;
  width: 21.2vw;
  height: 15vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  top: 3.2rem;
  left: 0;
}
.mobile-autoContainer {
  background-color: #1f2023;
  width: 31.2vw;
  height: 15vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  top: 3.2rem;
  left: 0;
}
.autoOption {
  width: 100%;
  padding: 0.4rem 0;
  border-bottom: 0.0625rem solid white;
  border-right: 0.0625rem solid white;
  border-left: 0.0625rem solid white;
}
.autoOption:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.autoContainer::-webkit-scrollbar {
  display: none;
}
.none {
  display: none;
}
.display {
  display: inherit;
}
/* filter menus */
.filter-menu {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: teal; */
}
.left-menu,
.right-menu,
.btn-clear {
  /* width: 26.5vw; */
}
.left-menu,
.right-menu {
  display: flex;
  flex-direction: row;
  margin: 0 1.5vw;
  /* background-color: pink; */
}
.right-menu {
  align-items: center;
}
.btn-clear {
  color: #74d963;
  padding: 0.5vw 0;
  /* background-color: pink; */
  /* z-index: 100; */
}
.btn-clear:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* --- DROPDOWN --- */

.dropdown {
  position: relative;
  /* color: #333; */
  border-radius: 0.86rem;
  color: white;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 0.3125rem 0.3125rem 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  /* right: 10px; */
  right: 5%;
  top: 35%;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 0.3125rem 0.3125rem;
}

.dropdown .selected-value {
  line-height: 0.7;
  font-size: 1rem;
  /* background-color: #fff; */
  background-color: #333;
  border: 0.0625rem solid #ccc;
  border-radius: 0.9rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 0.7vw 4vw 0.7vw 0.8vw;
  transition: all 200ms ease;
  /* width: 100%; */
  font-size: 1.2vw;
}

.dropdown .options {
  display: none;
  /* background-color: #fff; */
  background-color: #333;
  border: 0.1vw solid #ccc;
  border-radius: 0.1vw;
  box-shadow: 0 0.1vw 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -0.8vw;
  max-height: 15vw;
  overflow-y: auto;
  position: absolute;
  top: 120%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dropdown .options::-webkit-scrollbar {
  display: none;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  /* color: rgba(51, 51, 51, 0.8); */
  color: white;
  cursor: pointer;
  display: block;
  padding: 0.5vw 0.8vw;
}

.dropdown .option .selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
  /* color: white; */
}
.btn-filters {
  background-color: #fe4555;
  color: white;
  border: none;
  border-radius: 0.4vw;
  height: 3vw;
  font-size: 1.2vw;
}
.btn-filters:hover {
  cursor: pointer;
  opacity: 0.9;
}
/* ---------------- */

/* ---------- */

h1 {
  font-size: 2vw;
  margin-left: 10vw;
  color: white;
}
.game h2 {
  font-size: 1.8vw;
}
.contain {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.game {
  width: 14vw;
  height: 20vw;
  position: relative;
  margin: 0.5vw 1vw;
}
.mobile-game {
  width: 60vw;
  height: 80vw;
  position: relative;
  margin: 5vw 10vw;
}
.game:hover {
  opacity: 0.8;
  cursor: pointer;
}
.game-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
.load-more,
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4.3rem 0 0 0;
}
.load-more > button {
  border: none;
  background-color: #2d2d2d;
  color: white;
  padding: 2vh 1.7rem;
  font-size: 1.8vw;
}
.load-more > button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
.page,
.pages {
  font-size: 2vw;
  margin: 0 0.2vw;
}
.pages {
  background-color: #1f2023;
  color: white;
  border: none;
}
.pages:hover {
  cursor: pointer;
}

.page {
  color: white;
  background-color: #fe4555;
  border: none;
  border-radius: 1vh;
}
/* ---- SWITCH COMP ---- */
.switch {
  position: relative;
  display: inline-block;
  width: 2.6vw;
  height: 1.05vw;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fe4555;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1.25rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fe4555;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fe4555;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.slider.round {
  border-radius: 10vw;
}

.slider.round:before {
  border-radius: 50%;
}
.btn-forgotten {
  margin-top: 1vw;
}
.btn-forgotten:hover {
  cursor: pointer;
  opacity: 0.9;
}
.forget input:not([type="submit"]) {
  /* background-color: green; */
  width: 30vw;
}
/* ---- *********** ---- */

/*-------- ********** --------*/
/************ GAME ************/
/*-------- ********** --------*/
.gamepage {
  font-size: 1.2vw;
}

.poster .f12 {
  /* font-size: 8px; */
}

.gray {
  color: gray;
}
.white {
  color: white;
  /* font-size: 12; */
}
.game-pic {
  width: 30vw;
  height: 20vw;
  object-fit: cover;
}
.poster {
  display: flex;
}
.space-left {
  margin-left: 1vw;
}
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
}
.cont-data {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
}
.spacing {
  width: 20vw;
}
.btn-collection {
  margin-right: 1vw;
}
.btn-collection,
.btn-review {
  border: 0.1vw solid white;
  border-radius: 1vw;
  padding: 0.5vh 0.5vw;
  color: white;
  background-color: #1f2023;
  font-size: 1.2vw;
}
.btn-collection:hover,
.btn-review:hover {
  cursor: pointer;
  opacity: 0.9;
}
.game-desc {
  width: 30vw;
  height: 12vh;
  overflow: scroll;
  color: white;
  -ms-overflow-style: none; /* hide scrollbar*/
  scrollbar-width: none; /* hide scrollbar*/
}
.game-desc::-webkit-scrollbar {
  display: none; /* hide scrollbar*/
}

.series {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.serie {
  position: relative;
  width: 19%;
  margin: 0 0.5%;
}
.serie:hover {
  cursor: pointer;
}
.serie h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
.serie img {
  /* width: 20vw; */
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
.red {
  color: red;
}
.part-3 > h3 {
  margin-left: 38vw;
}
.section-review {
  width: 60vw;
  margin: 0 auto;
  margin-left: 10vw;
}
.reviews {
  margin: 1vh 0;
  /* height: 20vh; */
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.reviews .review-part {
  background-color: #2a2b2e;
  display: flex;
  justify-content: space-between;
}

.comments {
  background-color: #2a2b2e;
  width: 100%;
  font-size: 0.8vw;
}
.comments .comment {
  background-color: #595b63;
  margin: 0.2vw 0;
}
.comment-msg {
  border-top: 0.1vw solid white;
  border-bottom: 0.1vw solid white;
  padding: 0.4vw 0;
}
.add-comment:hover,
.cancel-comment:hover {
  opacity: 0.9;
  cursor: pointer;
}
.input-comment {
  width: 30vw;
  /* height: 1vw; */
  padding: 0.2vw 0.4vw;
}
.comments form {
  margin: 0.5vw 0;
  /* background-color: #595b63; */
}
.comments form input[type="submit"] {
  margin-left: 0.5vw;
}
.reviews-left {
  /* background-color: pink; */
}
.reviews-left > p {
  /* background-color: thistle; */
  width: 50vw;
}
.reviews-left > div {
  /* background-color: pink; */
  width: 7vw;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 1vw;
}
.reviews-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vh 0;
}
.reviews h4 {
  text-decoration: underline;
  margin: 2vh 0;
}
.like {
  color: white;
  background-color: #74d963 !important;
}
.btn-like,
.btn-dislike {
  margin-right: 0.5vw;
  border: none;
  font-size: 0.9vw;
  border-radius: 1vw;
  background-color: #2a2b2e;
  color: white;
}
.btn-like:hover,
.btn-dislike:hover {
  cursor: pointer;
  opacity: 0.9;
}
.dislike {
  color: white;
  background-color: #fe4555;
}
.positive {
  color: #74d963;
}
.neutral {
  color: gray;
}
.negative {
  color: #fe4555;
}
.negative,
.neutral,
.positive {
  font-size: 1.5vw;
  margin-right: 1vw;
}
.user-pic {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  margin-bottom: 0.5vh;
  margin-right: 1vw;
}
.btn-comments {
  color: white;
  font-size: 0.9vw;
  /* background-color: pink; */
  width: 10vw !important;
}
.btn-comments:hover {
  cursor: pointer;
  opacity: 0.9;
}
/*-------- ********** --------*/
/*-------- COLLECTION --------*/
/*-------- ********** --------*/
.collection {
  height: 60vh;
}
.favorites {
  display: flex;
  flex-wrap: wrap;
}
.btn-collec-back {
  margin: 0 1vw;
  padding: 0.2vw 0.2vw;
  color: white;
  background-color: #fe4555;
  border: none;
  border-radius: 7%;
}
.favorite {
  position: relative;
  width: 18vw;
  margin: 1vw 1vw;
}
.favorite span {
  position: absolute;
  top: 8vw;
  left: 5vw;
  width: 10vw;
  z-index: 300;
  color: white;
}
.favorite span:hover {
  cursor: pointer;
  color: red;
}
.favorite img {
  width: 100%;
  height: 10vw;
  position: relative;
  object-fit: cover;
}
.favorite .icon {
  color: red;
  position: absolute;
  top: 0.4vw;
  right: 0.4vw;
  font-size: 1.2vw;
}
.favorite .icon:hover {
  cursor: pointer;
}

/*-------- ********** --------*/
/*--------   LOG IN   --------*/
/*--------   SIGN UP  --------*/
/*-------- ********** --------*/

.connect {
  height: 60vh;
  /* background-color: teal; */
  display: flex;
}
.left-part,
.right-part {
  width: 49%;
  color: white;
}
.left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 0.0625rem solid red;
  background-color: #2c2d2f;
  position: relative;
}
.left-part .mini-logo {
  width: 0.86rem;
  height: 0.86rem;
  object-fit: contain;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.left-part .text {
  width: 25vw;
  margin: 1.5vw 0;
  padding: 0 0;
  /* background-color: thistle; */
  font-size: 1.5vw;
}
.left-part h3 {
  font-size: 2vw;
}
.text .connect-icon {
  padding: 0 0.5vw;
}
.span-text {
  font-size: 1.3vw !important;
}
.right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333436;
  position: relative;
}
.right-part > input {
  width: 20vw;
  margin: 0.5vw 0;
  padding: 0.5vw 0.5vw;
}
.right-part > div > input {
  width: 9.2vw;
  margin: 0.5vw 0;
  padding: 0.5vw 0.58vw;
}
.right-part > div > input:last-child {
  margin-left: 0.5vw;
}
.right-part input[type="submit"] {
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.5vw;
}
.right-part .contain-password input {
  width: 20vw;
}
.right-part .contain-password {
  position: relative;
}
form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.9;
}
.right-part span {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
}
.forgot {
  margin: 0.5vw 0 0.5vw 0;
}
.forgot:hover {
  cursor: pointer;
  opacity: 0.9;
}
.connect .right-part .inputfile {
  /* opacity: 0; */
}
.label-file {
}
.eye-login {
  position: absolute;
  top: 38%;
  right: 4%;
  color: black;
}
.eye-login:hover {
  cursor: pointer;
}
.eye-forget {
  position: absolute;
  top: 35%;
  right: 4%;
  color: black;
}
.eye-forget:hover {
  cursor: pointer;
}
.eye-sign {
  position: absolute;
  top: 38%;
  right: 53%;
  color: black;
  z-index: 2;
}
.eye-sign:hover {
  cursor: pointer;
}
.contain-eye {
  position: relative;
  /* background-color: pink; */
}
.right-part .contain-eye > input {
  width: 20vw;
}
.contain .right-part .contain-eye .psw-input {
  width: 30vw;
}
.eye-update {
  position: absolute;
  top: 35%;
  right: 5%;
  color: black;
  z-index: 2;
}
.eye-update:hover {
  cursor: pointer;
}
/*-------- ********** --------*/
/*--------   REVIEW   --------*/
/*-------- ********** --------*/
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.review-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #434448; */
  width: 40vw;
}
.top-review {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.5vh;
}
.top-review span {
  padding: 0 1vw;
}
.review-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #434448;
  position: relative;
}
.review-comment span {
  color: lightgray;
  padding: 2vh 1vw 0.5vh 1vw;
}
.review-comment input,
.review-comment textarea {
  padding: 1vh 0.5vw;
  margin: 0 1vw;
  border: none;
  border-radius: 0.5vw;
}
.review-comment:last-child {
  padding-bottom: 5vh;
}
.review-comment input[type="submit"] {
  background-color: #fe4555;
  color: white;
  border: none;
  border-radius: 0.5vw;
  padding: 0.5vh 1vw;
  width: 5vw;
  position: absolute;
  bottom: 1vh;
  right: 0;
}
.review-comment input[type="submit"]:hover,
.exit-review:hover {
  cursor: pointer;
}
.exit-review {
}
/*-------- ********** --------*/
/******----  PROFILE ----******/
/*-------- ********** --------*/
.profile-page {
  height: 60vh;
}
.profile-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: teal;
}
.profile-page input[type="submit"]:hover,
.profile-page input[type="file"]:hover {
  cursor: pointer;
  opacity: 0.9;
}

/*-------- ********** --------*/
/******----- FOOTER -----******/
/*-------- ********** --------*/

footer {
  width: 80vw;
  padding: 5vh 10vw;
  background-color: #1f2023;
  color: white;
  border-top: #fe4555 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  text-decoration: none;
  color: #fe4555;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$  MEDIA  $$$$$$$$$$$ */
/* $$$$$$$$  QUERIES  $$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* @media (min-width: "1441px") {
}
@media (min-width: "1025px") and (max-width: "1440px") {
}
@media (min-width: "769px") and (max-width: "1024px") {
}
@media (min-width: "426px") and (max-width: "768px") {
}
@media screen and (max-width: "425px") {
  header div img {
    width: 5rem;
  }

  .contain .game {
    width: 50vw;
    height: 60vw;
    margin: 0.5vw 15vw;
  }

} */
